<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>



<h3 class= "text-center">Add User</h3>

<form  action="" th:action="@{/app/saveuser}" method="post">
<div class="form-group">
<input name="username" required="required" type="email" placeholder="enter here" class="form-control">

<input name="password" required="required" type="password" placeholder="enter here" class="form-control">

</div>
<div class="container">
						
						<button type="submit" class="submit">submit</button>
						<br><br>
						<a href="login">Login If Already have Signup</a>
						</div>
		                <br>
		                <br>
		                
					</form>
</body>
</html>