<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<div class="alert alert-success" role="alert">
  we have sent otp to your email
</div>
<form  action=""  th:action="@{/send-otp}" method="post">
<div class="form-group">
<input name="otp" required="required" type="otp" placeholder="enter otp here" class="form-control">

</div>
<div class="container">
						
						<button type="submit" class="verify">OTP</button>
						</div>
		                <br>
		                <br>
		                
					</form>
</body>
</html>