<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div style="background-color: gray;">
<div class="logoutBtn">
				<form th:action="@{/app/logout}" method="post">
					<button type="submit" class="submit">Back To Sign in
						
					</button>

				</form>
			</div>


<h3 class= "text-center">Your Registerd Email</h3>

<form  action="" th:action="@{/send-otp}" method="post">
<div class="form-group">
<input name="email" required="required" type="email" placeholder="Email Id" class="form-control">
<input name="Otp" required="required" type="password" placeholder="Verify" class="form-control">
</div>
<div class="container">
						
						<button type="submit" class="submit">OTP Generate</button>
						<button type="submit" class="submit">Verify</button>
						</div>
		                <br>
		                <br>
		                
					</form>
					</div>
</body>
</html>